.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


// fade-enter，fade-enter-active，fade-enter-done，  fade-exit，fade-exit-active，fade-exit-done，fade-appear，和fade-appear-active。